:root{
    font-family: Inter, system-ui, Avenir, Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    user-select: none;
}

a{
    text-decoration: none;
    color: black;
}

$color1: white;
$color2: rgb(46,46,46);
$color3:rgb(0,104,136);

.red{
    color:red;
}
.purple{
    color:rgb(47,0,255);
}
.green{
    color:rgb(0,195,0);
}

@import "admin-styles/mixin";
@import "login";
@import "home";
@import "cart";
@import "search";

.container{
    max-width: 1367px;
    width:100%;
    margin: auto;
    overflow: auto;
    > h1{
      @include heading;
      margin:1rem 0;
      text-align: center;
    }
}

.heading{
    @include heading;
    margin: 1rem 0;
    text-align: center;
}

.header{
    @include flex(row,flex-end,streach,1.2rem);
    padding:1rem;
    a{
        color:$color2;
        letter-spacing: 2px;
        font-size: 1.2rem;

        &:hover{
            color: $color3;
        }
    }
    button{
        border:none;
        font-size: 1.2rem;
        cursor: pointer;
        background-color: transparent;
        &:hover{
            color:$color3;
        }
    }

    dialog{
        border:1px solid #ccc;
        border-radius: 5px;
        padding:10px;
        width:100px;
        position: absolute;
        left:calc(100% - 100px);
        top:8%;
        > div{
            @include flex(column,flex-start,center,0.25rem)
        }
    }
}

.not-found{
    height:80vh;
    @include flex(column);
    > svg{
        font-size: 5rem;
    }
}


.loader{
    width:100%;
    height:85vh;
    @include flex;
    position:relative;
    > div {
        @include square(10rem);
        border-radius: 50%;
        border-top:1rem solid rgb(0, 0, 0);
        border-left:1rem solid rgb(255, 255, 255);
        border-right:1rem solid rgb(255, 255, 255);
        border-bottom:1rem solid rgb(0, 0, 0);
        transform: rotate(-43deg);
        animation: loading-animation 1s infinite;
    }
    >span{
        position:absolute;
        font-weight: 600;
    }
}

.skelton-loader{
    display: flex;
    flex-direction: column;
}

.skelton-shape{
    height:30px;
    width:100%;
    background-color: #ddd;
    margin-bottom: 10px;
    border-radius: 4px;
    animation: skelton-loading 5s infinite;
}
@keyframes loading-animation{
    0%{
        transform: rotate(0deg);
        opacity:1;
    }
    100%{
        transform: rotate(720deg);
        opacity:0.3;
    }
}

@keyframes skelton-loading{
    0%{
        opacity:0.6;
    }
    50%{
        opacity:1;
    }
    100%{
        opacity:0.6;
    }
}