@media screen and (width > 1100px) {
    .admin-container {
      overflow: auto;
    }
  
    .dashboard {
      .widget-container,
      .graph-container,
      .transaction-container {
        justify-content: center;
        flex-wrap: wrap;
      }
      .graph-container {
        padding: 2rem;
      }
      .transaction-container {
        padding: 2rem;
        height: unset;
      }
    }
  
    .product-management {
      padding: 2rem;
    }
    .footer{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      background-color: rgb(46, 46, 46);
      padding: 10rem;
    }
    .menu-list{
      display: none;
    }
  }
  
  @media screen and (width<= 1100px) {
    .admin-container {
      grid-template-columns: 1fr !important;
    }
    .menu-list{
      display: none;
    }
    .header{
      width:100%;
    }
  }
  
  @media screen and (width<= 768px) {
    .cart {
      display: block;
      padding: 2rem;
  
      > main {
        width: 100%;
      }
      > aside {
        width: 100%;
      }
    }
  
    .cartitem {
      width: 100%;
      > img {
        width: 3rem;
        height: 3rem;
      }
      > div {
        flex-direction: column;
        gap: 0;
      }
    }
  
    .product-search-page {
      display: block;
      padding: 0;
  
      > aside {
        @include flex(row, space-between, center);
        flex-wrap: wrap;
        box-shadow: none;
        > h2 {
          @include heading;
          font-size: 1.2rem;
        }
      }
      > main > input {
        width: 100%;
        border: 1px solid rgba(212, 212, 212, 0.379);
      }
    }
    .category{
      padding-left:0 !important;
    }
    .menu-list{
      display: flex;
      font-size: 2rem;
      padding-right: 2rem;
    }
    .navLinkContainer{
      display:none;
      position: absolute !important;
      flex-direction: column !important;
      background-color: $color1;
      top:64px;
      right:8PX;
      gap:1rem !important;
      box-shadow: 0 0 2px 3px $color4;
      border-radius: 0.5rem;
      transition: all 0.3s ease-in-out;
      opacity:0;
    }
    .navLinkContainerActive{
      opacity:1 !important;
      display:flex;
      dialog{
        bottom: -100px;
        top: unset !important;
      }
    }
    .hamburger{
      width: 100%;
      height: 20px !important;
      font-size: 10px !important;
    }
  }
  
  @media screen and (width<= 600px) {
    .product-management {
      flex-direction: column;
      align-items: center;
      padding: 0;
      > section {
        max-width: 400px;
      }
    }
  
    .chart-container {
      padding: 0;
      > h1 {
        margin: 0;
        text-align: center;
      }
      > section {
        margin: 8rem auto;
      }
    }
  
    .dashboard-app-container > section {
      .coupon-form,
      .stopwatch {
        display: flex;
        flex-direction: column;
      }
      .stopwatch {
        align-items: center;
      }
    }
    .footer{
      flex-direction: column !important;
      padding: 5rem 0 !important;
      background-color: red;
      .businessLogo{
        align-items: center !important;
      }
    }
  }
  